<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="/creat" method="post">
		Title: <input type="text" name="title"><br/>
		Director: <input type="text" name="director"><br/>
		Rating: <input type="text" name="rating"><br/>
		<input type="submit" />
	</form>
</body>
</html>


