<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="/creat" method="post">
		Title: <input type="text" name="title">
		Director: <input type="text" name="director">
		Rating: <input type="text" name="rating">
		<input type="submit" />
	</form>
</body>
</html>


